<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://calendar.google.com/calendar/u/2/r?cid=ZmFybWluZC5zdHVkaW9AZ21haWwuY29t"><span class="glyphicon glyphicon-book"></span> Calendar link</a>
            </li>
        </ul>
    </div>
</nav>